@media (max-width: 1399.98px) {
  #mobile-nav-background {
    display: none;
  }
}

@media (max-width: 1199.98px) {
  #mobile-nav-background {
    display: none;
  }
}

@media (max-width: 991.98px) {
  #mobile-nav-background {
    display: block;
  }
}

@media (max-width: 767.98px) {
  #mobile-nav-background {
    display: block;
  }
}

@media (max-width: 575.98px) {
  #mobile-nav-background {
    display: block;
  }
}
