@import "../varColors.scss";

#header-mobile {
  display: none;
}

#header-main {
  padding: 16px 8px;
  max-width: 1245px;
  height: 85px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 1px solid $contactBarBorder;

  .mobile-header-main {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: flex-start;
    align-items: center;

    .hamburger-menu {
      font-size: 32px;
      cursor: pointer;
    }
    #logo {
      margin-left: 20px;
    }
  }

  #search-and-basket-container {
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: flex-end;
    align-items: center;

    .search-and-basket-element {
      padding: 10px;
    }
  }
}

img#search-icon {
  cursor: pointer;
}

img#basket-icon {
  cursor: pointer;
}

#header-main-lg-wrapper {
  display: block;

  #header-main-lg {
    padding: 10px;
    max-width: 1245px;
    height: 60px;
    margin: 0 auto;

    ul {
      list-style: none;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;

      a {
        text-decoration: none;
        color: $basicTextColor;
        transition: color 0.3s;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        &:hover {
          color: $textHover;
        }
      }
    }
  }
}
