@import "../varColors.scss";

#basket {
  display: none;
  position: absolute;
  top: 68px;
  right: 18px;
  width: 280px;
  height: 118px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
  z-index: 2;

  #close-basket {
    text-align: right;
    font-size: 20px;

    .basket-close-icon {
      color: $basicTextColor;
      transition: color 0.3s;
      cursor: pointer;

      &:hover {
        color: $textHover;
      }
    }
  }

  #basket-elements {
    width: 100%;
    height: calc(100% - 24px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;

    & > p {
      font-weight: 600;
    }
  }
}
