@import "../varColors.scss";

#search-box-mobile-wrapper {
  display: none;
}

#search-box-mobile {
  padding: 16px 8px;
  height: 80px;
  width: 100%;
  box-shadow: 0px 46px 50px -11px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 46px 50px -11px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 46px 50px -11px rgba(0, 0, 0, 0.1);
  display: none;

  input[type="text"]#search-input-mobile {
    width: 100%;
    padding: 12px;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 16px;
    border-bottom: 1px solid $contactBarBorder;
    transition: border 0.3s;

    &:focus {
      outline: none;
      border-bottom: 1px solid $textHover;
    }
  }
}
