* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
@import "./varColors.scss";
@import "./header-top/headerTop.scss";
@import "./header-main/headerMain.scss";
@import "./mobile-nav/mobileNav.scss";
@import "./search-box-mobile/searchBoxMobile.scss";
@import "./basket-mobile/basketMobile.scss";
@import "./desktop-nav/desktopNav.scss";
@import "./media/headerTopMedia.scss";
@import "./media/headerMainMedia.scss";
@import "./media/basketMobileMedia.scss";
@import "./media/searchBoxMobileMedia.scss";
@import "./media/nevMobileMedia.scss";
