* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif; }

#bar-container {
  width: 100%;
  border-bottom: 1px solid #d7d7d7;
  display: block; }

#contact-bar {
  max-width: 1245px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  #contact-bar .contact-bar-container {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 12px; }
    #contact-bar .contact-bar-container .contact-bar-element > ul {
      list-style: none;
      display: flex; }
      #contact-bar .contact-bar-container .contact-bar-element > ul > li {
        margin-right: 20px;
        font-size: 13px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 16.68px;
        text-align: left; }
        #contact-bar .contact-bar-container .contact-bar-element > ul > li > img {
          margin-right: 11px; }
        #contact-bar .contact-bar-container .contact-bar-element > ul > li > a {
          text-decoration: none;
          color: #000;
          transition: color 0.3s; }
          #contact-bar .contact-bar-container .contact-bar-element > ul > li > a:hover {
            color: #ecc7d0; }
  #contact-bar .auth-bar-container {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; }
    #contact-bar .auth-bar-container .auth-bar-element {
      padding: 16px 12px;
      border-right: 1px solid #d7d7d7; }
      #contact-bar .auth-bar-container .auth-bar-element > p {
        font-size: 13px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 16.68px;
        text-align: left;
        transition: color 0.3s;
        cursor: pointer; }
        #contact-bar .auth-bar-container .auth-bar-element > p:hover {
          color: #ecc7d0; }
        #contact-bar .auth-bar-container .auth-bar-element > p > img {
          margin-right: 11px; }
    #contact-bar .auth-bar-container .auth-bar-element-border-left {
      border-left: 1px solid #d7d7d7; }

#header-mobile {
  display: none; }

#header-main {
  padding: 16px 8px;
  max-width: 1245px;
  height: 85px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 1px solid #d7d7d7; }
  #header-main .mobile-header-main {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: flex-start;
    align-items: center; }
    #header-main .mobile-header-main .hamburger-menu {
      font-size: 32px;
      cursor: pointer; }
    #header-main .mobile-header-main #logo {
      margin-left: 20px; }
  #header-main #search-and-basket-container {
    display: flex;
    flex-direction: row;
    width: 33%;
    justify-content: flex-end;
    align-items: center; }
    #header-main #search-and-basket-container .search-and-basket-element {
      padding: 10px; }

img#search-icon {
  cursor: pointer; }

img#basket-icon {
  cursor: pointer; }

#header-main-lg-wrapper {
  display: block; }
  #header-main-lg-wrapper #header-main-lg {
    padding: 16px 5px;
    max-width: 1245px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center; }
    #header-main-lg-wrapper #header-main-lg .header-main-lg-element {
      width: 33%;
      height: 66px; }
    #header-main-lg-wrapper #header-main-lg #header-main-logo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; }
    #header-main-lg-wrapper #header-main-lg #header-main-search {
      display: flex;
      justify-content: center;
      align-items: center; }
      #header-main-lg-wrapper #header-main-lg #header-main-search #header-main-desktop-input-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center; }
        #header-main-lg-wrapper #header-main-lg #header-main-search #header-main-desktop-input-wrapper label {
          height: 44px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          border-bottom: 1px solid #d7d7d7; }
        #header-main-lg-wrapper #header-main-lg #header-main-search #header-main-desktop-input-wrapper input[type="text"]#search-input-desktop {
          width: 100%;
          padding: 12px;
          border-top: none;
          border-left: none;
          border-right: none;
          font-size: 16px;
          border-bottom: 1px solid #d7d7d7;
          transition: border 0.3s; }
          #header-main-lg-wrapper #header-main-lg #header-main-search #header-main-desktop-input-wrapper input[type="text"]#search-input-desktop:focus {
            outline: none;
            border-bottom: 1px solid #ecc7d0; }

#mobile-nav-wrapper {
  display: none; }

#mobile-nav-background {
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  transition: width 0.5s;
  z-index: 3; }
  #mobile-nav-background #sidebar-container {
    width: 0%;
    height: 100%;
    background-color: white;
    transition: width 0.5s;
    overflow: auto; }
    #mobile-nav-background #sidebar-container #sidebar {
      opacity: 0;
      transition: opacity 2s;
      overflow: auto; }
      #mobile-nav-background #sidebar-container #sidebar #close-box {
        padding: 10px;
        width: 100%;
        text-align: right; }
        #mobile-nav-background #sidebar-container #sidebar #close-box .close-icon {
          font-size: 26px;
          cursor: pointer;
          transition: color 0.3s; }
          #mobile-nav-background #sidebar-container #sidebar #close-box .close-icon:hover {
            color: #ecc7d0; }
      #mobile-nav-background #sidebar-container #sidebar .nav-links {
        width: 100%;
        height: 100%;
        padding: 10px; }
        #mobile-nav-background #sidebar-container #sidebar .nav-links > ul {
          list-style: none; }
          #mobile-nav-background #sidebar-container #sidebar .nav-links > ul > li {
            font-size: 14px;
            text-transform: uppercase;
            text-align: center;
            padding: 10px;
            margin: 10px 0; }
            #mobile-nav-background #sidebar-container #sidebar .nav-links > ul > li > a {
              text-decoration: none;
              color: #000;
              transition: color 0.3s; }
              #mobile-nav-background #sidebar-container #sidebar .nav-links > ul > li > a:hover {
                color: #ecc7d0; }

#search-box-mobile-wrapper {
  display: none; }

#search-box-mobile {
  padding: 16px 8px;
  height: 80px;
  width: 100%;
  box-shadow: 0px 46px 50px -11px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 46px 50px -11px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 46px 50px -11px rgba(0, 0, 0, 0.1);
  display: none; }
  #search-box-mobile input[type="text"]#search-input-mobile {
    width: 100%;
    padding: 12px;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 16px;
    border-bottom: 1px solid #d7d7d7;
    transition: border 0.3s; }
    #search-box-mobile input[type="text"]#search-input-mobile:focus {
      outline: none;
      border-bottom: 1px solid #ecc7d0; }

#basket {
  display: none;
  position: absolute;
  top: 60px;
  right: 18px;
  width: 280px;
  height: 118px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
  z-index: 2; }
  #basket #close-basket {
    text-align: right;
    font-size: 20px; }
    #basket #close-basket .basket-close-icon {
      color: #000;
      transition: color 0.3s;
      cursor: pointer; }
      #basket #close-basket .basket-close-icon:hover {
        color: #ecc7d0; }
  #basket #basket-elements {
    width: 100%;
    height: calc(100% - 24px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden; }
    #basket #basket-elements > p {
      font-weight: 600; }

#header-nav-lg-wrapper {
  display: block; }
  #header-nav-lg-wrapper #header-nav-lg {
    padding: 10px;
    max-width: 1245px;
    height: 60px;
    margin: 0 auto; }
    #header-nav-lg-wrapper #header-nav-lg ul {
      list-style: none;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      #header-nav-lg-wrapper #header-nav-lg ul a {
        text-decoration: none;
        color: #000;
        transition: color 0.3s;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700; }
        #header-nav-lg-wrapper #header-nav-lg ul a:hover {
          color: #ecc7d0; }

@media (max-width: 1399.98px) {
  #bar-container {
    display: block; } }

@media (max-width: 1199.98px) {
  #bar-container {
    display: block; } }

@media (max-width: 991.98px) {
  #bar-container {
    display: block; } }

@media (max-width: 767.98px) {
  #bar-container {
    display: none; } }

@media (max-width: 575.98px) {
  #bar-container {
    display: none; } }

@media (max-width: 1399.98px) {
  #header-mobile {
    display: none; }
  #header-main-lg-wrapper {
    display: block; } }

@media (max-width: 1199.98px) {
  #header-mobile {
    display: none; }
  #header-main-lg-wrapper {
    display: block; } }

@media (max-width: 991.98px) {
  #header-mobile {
    display: block; }
  #header-main-lg-wrapper {
    display: none; } }

@media (max-width: 767.98px) {
  #header-mobile {
    display: block; }
  #header-main-lg-wrapper {
    display: none; } }

@media (max-width: 575.98px) {
  #header-mobile {
    display: block; }
  #header-main-lg-wrapper {
    display: none; } }

@media (max-width: 991.98px) {
  #basket {
    top: 112px; } }

@media (max-width: 767.98px) {
  #basket {
    top: 60px; } }

@media (max-width: 575.98px) {
  #basket {
    top: 60px; } }

@media (max-width: 1399.98px) {
  #search-box-mobile-wrapper {
    display: none; } }

@media (max-width: 1199.98px) {
  #search-box-mobile-wrapper {
    display: none; } }

@media (max-width: 991.98px) {
  #search-box-mobile-wrapper {
    display: block; } }

@media (max-width: 767.98px) {
  #search-box-mobile-wrapper {
    display: block; } }

@media (max-width: 575.98px) {
  #search-box-mobile-wrapper {
    display: block; } }

@media (max-width: 1399.98px) {
  #mobile-nav-background {
    display: none; } }

@media (max-width: 1199.98px) {
  #mobile-nav-background {
    display: none; } }

@media (max-width: 991.98px) {
  #mobile-nav-background {
    display: block; } }

@media (max-width: 767.98px) {
  #mobile-nav-background {
    display: block; } }

@media (max-width: 575.98px) {
  #mobile-nav-background {
    display: block; } }
